@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.cd902683c5fab70b.eot?32397711");
  src: url("../font/fontello.cd902683c5fab70b.eot?32397711#iefix") format('embedded-opentype'),
       url("../font/fontello.a53c9c53b45fb70b.woff2?32397711") format('woff2'),
       url("../font/fontello.89c578b48488b70b.woff?32397711") format('woff'),
       url("../font/fontello.172f8e28f8bbb70b.ttf?32397711") format('truetype'),
       url("../font/fontello.5c6bf1e065cbb70b.svg?32397711#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url("../font/fontello.5c6bf1e065cb.svg?32397711#fontello") format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-download:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-crown:before { content: '\e804'; } /* '' */
.icon-right-dir:before { content: '\e805'; } /* '' */
.icon-floppy:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-cloud:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-left:before { content: '\e80a'; } /* '' */
.icon-cancel-thin:before { content: '\e80b'; } /* '' */
.icon-power:before { content: '\e80c'; } /* '' */
.icon-upload:before { content: '\e80d'; } /* '' */
.icon-minus:before { content: '\e80e'; } /* '' */
.icon-arrows-cw:before { content: '\e80f'; } /* '' */
.icon-edit:before { content: '\e810'; } /* '' */
.icon-pencil:before { content: '\e811'; } /* '' */
.icon-flash:before { content: '\e812'; } /* '' */
.icon-down:before { content: '\e813'; } /* '' */
.icon-award:before { content: '\e814'; } /* '' */
.icon-off:before { content: '\e815'; } /* '' */
.icon-tag:before { content: '\e816'; } /* '' */
.icon-list:before { content: '\e817'; } /* '' */
.icon-clock:before { content: '\e818'; } /* '' */
.icon-print:before { content: '\e819'; } /* '' */
.icon-play:before { content: '\e81a'; } /* '' */
.icon-right:before { content: '\e81b'; } /* '' */
.icon-key:before { content: '\e81c'; } /* '' */
.icon-cancel:before { content: '\e820'; } /* '' */
.icon-left-thin:before { content: '\e821'; } /* '' */
.icon-drag:before { content: '\e822'; } /* '' */
.icon-ok-circled-1:before { content: '\e823'; } /* '' */
.icon-tools:before { content: '\e824'; } /* '' */
.icon-up-big:before { content: '\e825'; } /* '' */
.icon-info-circled:before { content: '\e826'; } /* '' */
.icon-user-line:before { content: '\e828'; } /* '' */
.icon-link:before { content: '\e829'; } /* '' */
.icon-moon:before { content: '\e82a'; } /* '' */
.icon-results:before { content: '\e82b'; } /* '' */
.icon-empty:before { content: '\e82c'; } /* '' */
.icon-trash:before { content: '\e82d'; } /* '' */
.icon-plus:before { content: '\e82e'; } /* '' */
.icon-sun:before { content: '\e82f'; } /* '' */
.icon-settings:before { content: '\e830'; } /* '' */
.icon-news:before { content: '\e831'; } /* '' */
.icon-screens:before { content: '\e832'; } /* '' */
.icon-monitor:before { content: '\e833'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-watchlist:before { content: '\f0ae'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-document:before { content: '\f0f6'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */